<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>贵人圈简介</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="//res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
</head>
<body>
<div id="container" class="weui-body">
    <!-- 使用 -->
    <article class="weui-article">
        <section>
            <h2 class="title"></h2>
            <section>
                <h2><strong>简介</strong></h2>
                <p>
                    贵州贵人圈商贸有限公司正式成立于2016年9月6日。
                </p>
                <p>
                    公司经过一年多地实践和探索后，确立了“销售健康类产品，归集本土家庭数据，提供可持续性服务”的企业发展方针。
                </p>
                <p>
                    目前，公司不仅成功代理和参与了许多知名产品的贵州区域销售业务，如：
                </p>
                <p>
                    英国“梦想肌肤”婴幼儿内衣；
                </p>
                <p>
                    苏州“首度基因”全序列检测；
                </p>
                <p>
                    上海“良野田”家庭菜园装置；
                </p>
                <p>
                    成都“康复大师”APP；
                </p>
                <p>
                    贵州“茅霆酒业”三红营养酒;
                </p>
                <p>
                    贵州高山百益六芝园“贵人草本”；
                </p>
                <p>
                    ......
                </p>
                <p>
                    公司在不断继续强化和创新立体营销模式的同时，也开始投资兴建品牌实体店的市场服务网络。
                </p>
                <p>
                    “不以善小而不为，不以恶小而为之。”
                </p>
                <p>
                    公司将秉承取之于社会，回报于社会的发展宗旨，致力在家乡的发展建设中，踏踏实实地做一些力所能及的工作。
                </p>
                <p>
                    公司地址：贵州省贵阳市经济技术开发区花溪大道中段电商示范基地E栋二层104号
                </p>

                <p>
                    门店地址：贵州省贵阳市双龙经济开发区机场路9号“贵阳砂之船奥特莱斯”A栋三层超级儿童馆40号
                </p>
                <p>
                    客服电话：15180828899
                </p>
                <p>
                    公司网址：<a href="http://www.gzgrq.com">www.gzgrq.com</a>
                </p>
            </section>
        </section>
    </article>
</div>
</body>
</html>