<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>会员信息</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
</head>
<body>

<div class="weui-form-preview" style="padding: 10px;">
    <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">姓名</label>
        <em class="weui-form-preview__value" style="font-size: large">
            ${name?if_exists}
        </em>
    </div>
    <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">昵称</label>
        <em class="weui-form-preview__value" style="font-size: large">
            ${nick?if_exists}
        </em>
    </div>
    <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">手机号</label>
        <em class="weui-form-preview__value" style="font-size: large">
            ${mobile?if_exists}
        </em>
    </div>
    <div class="weui-form-preview__hd">
        <label class="weui-form-preview__label">邮寄地址</label>
        <em class="weui-form-preview__value" style="font-size: large">
            ${address?if_exists}
        </em>
    </div>
    <div class="weui-form-preview__ft">
        <a class="weui-form-preview__btn weui-form-preview__btn_primary" href="javascript:"></a>
    </div>
</div>

</body>
</html>