<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>会员注册信息</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
    <script type="text/javascript" src="/config.js"></script>
</head>
<body>
<div class="page__bd">
    <#if wxUser?exists>
        <div class="weui-cells__title">我的信息</div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="name" class="weui-label">姓名</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" readonly id="name" value="${wxUser.name?if_exists}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="nick" class="weui-label">昵称</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" readonly id="nick" value="${wxUser.nick?if_exists}">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="score" class="weui-label">我的积分</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="number" readonly id="score" value="${wxUser.score?if_exists}" placeholder="">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="telephonne" class="weui-label">手机号</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="tel" readonly id="telephonne" value="${wxUser.mobile?if_exists}" placeholder="">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="usherId" class="weui-label">推荐人</label></div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" readonly id="usherId" value="${wxUser.usherId?if_exists}" placeholder="">
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd"><label for="address" class="weui-label">邮寄地址</label></div>
                <div class="weui-cell__bd">
                    <textarea rows="3" cols="25" readonly id="address" placeholder="">${wxUser.address?if_exists}</textarea>
                </div>
            </div>
        </div>
    <#else>
        <div style="margin-left: auto;margin-right: auto; text-align: center;margin-top: 1em">
            <a class="weui-btn weui-btn_mini weui-btn_primary" href="javascript:jumpToRegist();">
                您还没注册会员，点击我去注册吧
            </a>
        </div>
    </#if>
</div>
<script>
    function jumpToRegist() {
        var url = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=" + appConfig.appId +
            "&redirect_uri=http%3a%2f%2f" + appConfig.domain + "%2fuser%2fregister.html&response_type=code" +
            "&scope=snsapi_userinfo&state=123456#wechat_redirect";
        window.location.href = url;
    }
</script>
</body>
</html>